<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="scheduleBuilder.css"> -->
    <title>Home</title>
    <style>
        html {
        font-size: 14px;
        }

        body {
            font-family: Arial, sans-serif;
            margin: 1rem;
            border-style: groove;
            border-width: 1rem;
        }

        #innerBody{
            padding: 1rem;
        }


    </style>
</head>

<body>
    <div id="innerBody">
        <form>

            <!--
            city: city,
            temp: temp,
            feels_like: feels_like,
            temp_max: temp_max,
            temp_min: temp_min,
            speed: speed,
            description: description
            -->

            <h1>Weather in <%- city %></h1>
            Temperature: <%- temp %> &deg;F<br>
            Feels Like: <%- feels_like %> &deg;F<br>
            Max Temperature: <%- temp_max %> &deg;F<br>
            Min Temperature: <%- temp_min %> &deg;F<br>
            Wind Speeds: <%- speed %> MPH<br>
            Description: <%- description %> <br>


            <a href="/">Home</a>
        </form>
    </div>
    <hr>
    <br>
    <br>
    
</body>

</html>