<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="scheduleBuilder.css"> -->
    <title>Home</title>
    <style>
        html {
        font-size: 14px;
        }

        body {
            /* font-family: Arial, sans-serif;
            margin: 1rem;
            border-style: groove;
            border-width: 1rem; */

            font-family: 'Open Sans', sans-serif;
            font-size: 1.5rem;
            margin: 0;  /* Prevents Scroll Bar From showing if not needed*/
            
            display: flex;
            /* 
                justify-content and align-items are a part of flex
                justify-content is along the main axis(y-axxis)
                align-items is along the cross axis(x-axis)

                methods for them:
                - flex-start, flex-end, center, space-between, space-around, space-evenly
                */
            justify-content: center; 
            align-items: center;
            height: 100vh;  /* x-coord */
            width: 100vw;   /* y-coord */
            background-image: url('https://source.unsplash.com/2560x1440/?landscape');
            
        }

        /* #innerBody{
            padding: 1rem;
        } */

        .card {
            background: #000000d0;
            opacity: 70%;

            color: white;
            padding: 3em;
            border-radius: 30px;

            width: 20%;
            max-width: 50rem;
            margin: 2rem;

            position: fixed;
        }

        img{
            width: 4rem;
        }


    </style>
</head>

<body>
    <div class="card">
        <form>

            <!--
            city: city,
            temp: temp,
            feels_like: feels_like,
            temp_max: temp_max,
            temp_min: temp_min,
            speed: speed,
            description: description
            -->

            <h1>Weather in <br><em><%- city %></em></h1>
            <!-- Temperature: <%- temp %> &deg;F<br> -->
            <h2><%- temp %>&deg;F</h2>
            <img src="<%- icon %>" alt="Weather Icon"><br>
            Description: <%- description %> <br><br>
            Feels Like: <%- feels_like %> &deg;F<br>
            Max Temperature: <%- temp_max %> &deg;F<br>
            Min Temperature: <%- temp_min %> &deg;F<br>
            Wind Speeds: <%- speed %> MPH<br>

            <!-- <h2>Weather In <br>Los Angelos</h2>
            Temperature: 73.83 째F<br>
            Feels Like: 73.87 째F<br>
            Max Temperature: 80.15 째F<br>
            Min Temperature: 67.93 째F<br>
            Wind Speeds: 3.44 MPH<br>
            Description: overcast clouds<br>  -->


            <a href="/">Home</a>
            <a href="/history">History</a>

        </form>
    </div>
    <hr>
    <br>
    <br>
    
</body>

</html>